option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    LANG: "en_US.UTF-8"
    LC_ALL: "en_US.UTF-8"

container_commands:
  01_install_dependencies:
    command: |
      sudo yum update -y
      sudo yum install -y python3-pip python3-devel
      pip3 install --upgrade pip
      pip3 install -r requirements.txt